### 복습문제

In [1]:
a = 2**3
b = 3%2
print("{} {}".format(a,b))

8 1

In [9]:
testList = [100,200,300,400,500]
del testList["300"]

TypeError: list indices must be integers or slices, not str

In [11]:
#  데이터 프레임 라이브러리 활용
import pandas as pd

#  딕셔너리를 활용한 데이터프레임 생성
data = {'name': ['A고객','B고객','C고객','D고객'],
        'age' : [27,40,33,29],
        'stock_age' : [2,5,10,1]}
dataFrame = pd.DataFrame(data)

#  데이터 프레임 : 스프레드시트 형태의 자료구조
print(dataFrame)

   age name  stock_age
0   27  A고객          2
1   40  B고객          5
2   33  C고객         10
3   29  D고객          1

In [12]:
import pandas as pd
#  리스트 생성
test = [10,100,1000,10000]
#  데이터프레임 변환
testDf = pd.DataFrame(test)
testDf

       0
0     10
1    100
2   1000
3  10000

In [13]:
testDf.columns=["test"]
testDf

    test
0     10
1    100
2   1000
3  10000

In [18]:
import pandas as pd
date = ['16.02.29','16.02.26','16.02.25','16.02.24','16.02.23']
date2 = ['17.02.29','17.02.26','17.02.25','17.02.24','17.02.23']

date_df = pd.DataFrame(date, columns=['date2'])
date_df2 = pd.DataFrame(date2, columns=['date23'])

final = pd.concat([date_df,date_df2], axis=1)
final

      date2    date23
0  16.02.29  17.02.29
1  16.02.26  17.02.26
2  16.02.25  17.02.25
3  16.02.24  17.02.24
4  16.02.23  17.02.23

TypeError: __init__() got an unexpected keyword argument 'colums'