### 2. Pandas 사용

In [9]:
import pandas_datareader.data as web
import fix_yahoo_finance as yf
yf.pdr_override()
from datetime import date, timedelta
import matplotlib.pyplot as plt
import datetime

start = datetime.datetime(2018,5,21)
end = date.today()

SEC = web.get_data_yahoo("005930.KS", start, end)
SEC.head()

[*********************100%***********************]  1 of 1 downloaded

               Open     High      Low    Close  Adj Close    Volume
Date
2018-05-21  49650.0  50200.0  49100.0  50000.0    50000.0   9020998
2018-05-23  50600.0  52000.0  50400.0  51800.0    51800.0  17095490
2018-05-24  52000.0  52000.0  51100.0  51400.0    51400.0   8289275
2018-05-25  51000.0  52800.0  50800.0  52700.0    52700.0  15207266